# Copyright 2026 The OpenChoreo Authors
# SPDX-License-Identifier: Apache-2.0

common:
  openObserveOrg: "default"
  openObserveStream: "container-logs"


fluent-bit:
  enabled: true
  config:
    customParsers: |
      [PARSER]
          Name docker_no_time
          Format json
          Time_Keep Off
          Time_Key time
          Time_Format %Y-%m-%dT%H:%M:%S.%L

    inputs: |
      [INPUT]
          Name tail
          Buffer_Chunk_Size 32KB
          Buffer_Max_Size 2MB
          DB /var/lib/fluent-bit/db/tail-container-logs.db
          Exclude_Path /var/log/containers/fluent-bit-*_openchoreo-observability-plane_*.log
          Inotify_Watcher false
          Mem_Buf_Limit 256MB
          Path /var/log/containers/*.log
          multiline.parser docker, cri
          Read_from_Head On
          Refresh_Interval 5
          Skip_Long_Lines On
          Tag kube.*

    filters: |
      [FILTER]
          Name kubernetes
          Buffer_Size 32MB
          K8S-Logging.Parser On
          K8S-Logging.Exclude On
          Keep_Log On
          Match kube.*
          Merge_Log Off
          Replace_Dots On
          tls.verify Off
          Use_Kubelet true

    outputs: |
      [OUTPUT]
          Name http
          Match *
          Host openobserve
          Port 5080
          URI /api/default/container-logs/_json
          Format json
          http_user ${OPENOBSERVE_USERNAME}
          http_passwd ${OPENOBSERVE_PASSWORD}
          Tls Off

  dnsPolicy: ClusterFirstWithHostNet

  env:
  - name: OPENOBSERVE_USERNAME
    valueFrom:
      secretKeyRef:
        name: openobserve-admin-credentials
        key: username
  - name: OPENOBSERVE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: openobserve-admin-credentials
        key: password

  fullnameOverride: "fluent-bit"

  hostNetwork: true

  extraVolumeMounts:
  - name: db
    mountPath: "/var/lib/fluent-bit/db"
    readOnly: false

  extraVolumes:
    - name: db
      hostPath:
        path: /var/lib/fluent-bit/db
        type: DirectoryOrCreate

  rbac:
    nodeAccess: true

  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi

  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL

    readOnlyRootFilesystem: true
    runAsNonRoot: true
    runAsUser: 10000

  testFramework:
    enabled: false

  initContainers:
  - name: set-volume-ownership
    image: busybox:1.36
    command: ["sh", "-c", "chown -R 10000:10000 /var/lib/fluent-bit/db"]
    resources:
      limits:
        cpu: 15m
        memory: "32Mi"
      requests:
        cpu: 10m
        memory: "24Mi"
    securityContext:
      capabilities:
        add:
        - CHOWN
        drop:
        - ALL
      readOnlyRootFilesystem: true
      runAsUser: 0
    volumeMounts:
    - name: db
      mountPath: /var/lib/fluent-bit/db

openObserve:
  enabled: true
  resources:
    limits:
      cpu: 500m
      memory: 1000Mi
    requests:
      cpu: 20m
      memory: 500Mi
  storage:
    size: 10Gi
      

## -----------------------------------------------------------
## Values for OpenChoreo specific customizations and workloads
## -----------------------------------------------------------

adapter:
  image:
    repository: "ghcr.io/openchoreo/observability-logs-openobserve-adapter"
    tag: "latest"
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 128Mi

openObserveSetup:
  enabled: true
  image:
    repository: "ghcr.io/openchoreo/observability-logs-openobserve-setup"
    tag: ""

  