# Copyright 2026 The OpenChoreo Authors
# SPDX-License-Identifier: Apache-2.0

global:
  installationMode: "singleCluster"

openSearch:
  enabled: true

  extraEnvs:
    - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
      value: ThisIsTheOpenSearchPassword1

  nameOverride: "opensearch"

  image:
    tag: "3.3.0"

  masterService: opensearch

  rbac:
    create: true
    serviceAccountName: "opensearch"

  singleNode: true



opentelemetry-collector:
  enabled: true

  clusterRole:
    create: true
    rules:
      - apiGroups: [""]
        resources: ["pods"]
        verbs: ["list", "watch"]
      - apiGroups: ["apps"]
        resources: ["replicasets"]
        verbs: ["list","watch"]

  configMap:
    create: false
    existingName: "opentelemetry-collector-config"

  fullnameOverride: "opentelemetry-collector"

  image:
    repository: otel/opentelemetry-collector-contrib

  mode: deployment

  resources:
    limits:
      cpu: 100m
      memory: 200Mi
    requests:
      cpu: 50m
      memory: 100Mi
  
  service:
    type: LoadBalancer


## -----------------------------------------------------------
## Values for OpenChoreo specific customizations and workloads
## -----------------------------------------------------------

openSearchCluster:
  enabled: false

  bootstrap:
    resources:
      limits:
        cpu: 1000m
        memory: 1000Mi
      requests:
        cpu: 100m
        memory: 1000Mi

  general:
    setVMMaxMapCount: true
    version: 3.3.0

  dashboards:
    enable: false
    replicas: 1
    version: 3.3.0

  nodePools:
    data:
      replicas: 2
      diskSize: 5Gi
      resources:
        limits:
          cpu: 1000m
          memory: 1000Mi
        requests:
          cpu: 100m
          memory: 1000Mi

    master:
      replicas: 3
      diskSize: 1Gi
      resources:
        limits:
          cpu: 1000m
          memory: 900Mi
        requests:
          cpu: 100m
          memory: 900Mi

  credentialsSecretName: ""

  adminPassword: ""

  internalUsers: |
    # This is the internal user database
    # The hash value is a bcrypt hash and can be generated with plugin/tools/hash.sh

    _meta:
      type: "internalusers"
      config_version: 2

    admin:
      hash: "%s"
      reserved: true
      backend_roles:
      - "admin"
      description: "Admin user"

openSearchSetup:
  enabled: true
  image:
    repository: "ghcr.io/openchoreo/observability-tracing-opensearch-setup"

  openSearchSecretName: ""

  dataRetentionTime:
    traces: "30d"


opentelemetryCollectorCustomizations:
  openSearchQueue:
    numConsumers: 5
    queueSize: 1000
    sizer: items

  tailSampling:
    enabled: true
    decisionWait: 10s
    numTraces: 100
    expectedNewTracesPerSec: 10
    decisionCache:
      sampledCacheSize: 10000
      nonSampledCacheSize: 1000
    spansPerSecond: 10
