# Copyright 2026 The OpenChoreo Authors
# SPDX-License-Identifier: Apache-2.0


apiVersion: batch/v1
kind: Job
metadata:
  name: opensearch-setup-logs
  namespace: {{.Release.Namespace}}
  annotations:
    helm.sh/hook: post-install, post-upgrade
spec:
  template:
    spec:
      automountServiceAccountToken: false
      containers:
      - name: opensearch-setup
        env:
        - name: OPENSEARCH_ADDRESS
          value: "https://opensearch:9200"
        - name: OPENSEARCH_USERNAME
          value: {{ .Values.openSearchSetup.openSearchUsername | quote }}
        - name: OPENSEARCH_PASSWORD
          valueFrom:
            secretKeyRef:
              name: opensearch-logs
              key: password
        - name: OBSERVER_ALERTING_WEBHOOK_URL
          value: "{{ .Values.openSearchSetup.alertingWebhookUrl }}"
        - name: CONTAINER_LOGS_MIN_INDEX_AGE
          value: "{{ .Values.openSearchSetup.dataRetentionTime.containerLogs }}"
        - name: RCA_REPORTS_MIN_INDEX_AGE
          value: "{{ .Values.openSearchSetup.dataRetentionTime.rcaReports }}"
        image: "{{ .Values.openSearchSetup.image.repository }}:{{ .Values.openSearchSetup.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.openSearchSetup.image.pullPolicy | default "IfNotPresent" }}
        resources:
          requests:
            memory: "50Mi"
            cpu: "50m"
          limits:
            memory: "75Mi"
            cpu: "75m"
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - all
          readOnlyRootFilesystem: true
          runAsGroup: 10500
          runAsUser: 10500

      restartPolicy: OnFailure
      securityContext:
        seccompProfile:
          type: RuntimeDefault
